.message {


}

.imageAndText {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 10fr;
    grid-gap: 3px;
    grid-template-areas:
    "name img"
    "messageText img";
}


.imageAndText img {
    max-width: 50px;
    border-radius: 50%;
    grid-area: img;
}

.text {
    background-color: #0059b3;
}

.text:after {

}

.name {
grid-area: name;
}

.messageText {
grid-area: messageText;
}

.time {

}