.message {


}

.imageAndText {
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-areas:
    "name img";
    align-items: end;
    margin-left: 60%;
    margin-top: 5px;
    grid-area: imageAndText;

}


.imageAndText img {
    max-width: 50px;
    border-radius: 50%;
    grid-area: img;
}

.text {
    background-color: #0059b3;
    border-radius: 7px;
    padding: 5px;
}

.text:after {
    content: '';
    width: 50px;
    height: 3px;
    border-radius: 50%;
    display: inline-block;
    color: #00cc22;
    margin: 0px 0px 0px 200px;
}

.name {
    grid-area: name;
}

.messageText {
    grid-area: messageText;
}

.time {
    margin-right: 6px;
    display: grid;
    justify-items: end;
}
