.active{
    color: #0610da;
    font-weight: bold;
    /*font-size: 50px;*/
}

.sidebar {
    display: none
}

.sidebar.open {
    display: block;
}

.background {
    background-color: darkgray;
}

.nav {
}

.nav a {
}

.nav a:hover {
    color: #0080FF;
}

.nav a.active {
}
.close {
}

.close img {
}
