.active{
    color: #0610da;
    font-weight: bold;
    /*font-size: 50px;*/
}

.sidebar {
    display: none
}

.sidebar.open {

    width: 317px;
    height: 720px;
    border: 2px solid black;

    display: grid;
    grid-template-rows: 30px 400px;
    /*justify-items: end;*/
    position: absolute;
    z-index:  100;
    background-color: #FFFFFF;
}

.background {
    background-color: darkgray;
}

.nav {
    display: grid;
    grid-auto-rows: 50px;
    margin-left: 70px;
    font-size: 27px;
    /*text-decoration: none;*/

    /*justify-items: start;*/
}

.nav a {
    text-decoration: none;
}

.nav a:hover {
    color: #0080FF;
}

.nav a.active {
}
.close {
}

.close img {
}
