.friendMessage {

}

.friendImageAndText {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
    "friendImg friendName";
    align-items: end;
    margin-right: 60%;
}

.friendImageAndText img {
    max-width: 50px;
    border-radius: 50%;
    grid-area: friendImg;
}

.friendText {
    background-color: #b79494;
    border-radius: 7px;
    padding: 5px;
}

.friendText:after {

}

.friendName {
    grid-area: friendName;
}

.friendMessageText {
    grid-area: friendMessageText;
}

.friendTime {
    margin-left: 6px;
    display: grid;
    justify-items: start;
}
